<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
 
    <h1>Change URL</h1>
    <form action="/url" method="POST">
        <label for="name">Enter URL</label>
        <input type="text" placeholder="type her.." name="name">
        <button>submit</button>
    </form>

</body>
</html>