<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="/url" method="post">
            <label for="name">Enter URL</label>
            <input type="text" placeholder="type here.." name="url">
            <button>submit</button>
        </form>
    </div>

</body>
</html>